---
name: Test PR
on:
  pull_request:
    branches:
      - main
jobs:
  test_go:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      # https://github.com/bazel-contrib/setup-bazel/tree/0.15.0
      - uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8
        with:
          bazelisk-version: 1.x

      - name: Cache bazel
        id: bazel_cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
          key: ${{ runner.os }}-bazel-${{ matrix.go-version }}-${{ hashFiles('WORKSPACE*', 'MODULE.bazel', 'deps.bzl', '**/*.bzl', '**/BUILD.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-${{ matrix.go-version }}-

      - run: bazel info

      # https://github.com/arduino/setup-task/tree/v2.0.0
      - uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: task test
